<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity-alias
            android:enabled="true"
            android:name="org.telegram.messenger.DefaultIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.VintageIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_6_launcher"
            android:roundIcon="@mipmap/icon_6_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.AquaIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_4_launcher"
            android:roundIcon="@mipmap/icon_4_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.PremiumIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_3_launcher"
            android:roundIcon="@mipmap/icon_3_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.TurboIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_5_launcher"
            android:roundIcon="@mipmap/icon_5_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.NoxIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_2_launcher"
            android:roundIcon="@mipmap/icon_2_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
    </application>
</manifest>
