.idea/
.gradle/
build/
obj/
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
# forky comment line TMessagesProj_App/afat/
# forky comment line TMessagesProj_AppHockeyApp/afat/
# forky comment line TMessagesProj_AppStandalone/afat/
# forky comment line TMessagesProj_AppHuawei/afat/
# forky code start
.forky
TMessagesProj/src/androidTestAppTestEnv/kotlin/org/telegram/tgnet/model/generated
TMessagesProj/src/androidTestAppTestEnv/kotlin/org/telegram/tgnet/test/generated
TMessagesProj/src/androidTestAppTestEnv/kotlin/not_linked_classes.txt
# forky code end
